.btn {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 0;
  background: none;
  cursor: pointer;
  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &.fill {
    background-color: var(--gray100);
    color: var(--white);
  }

  &.outline {
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray100);
    background-color: var(--white);
    color: var(--gray100);
  }

  &.white {
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray15);
    background-color: var(--white);
    color: var(--gray70);
  }

  &.transparent {
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray100);
    color: var(--gray100);
  }

  &.large {
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
  }

  &.medium {
    height: 42px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 4px;
    font-size: 14px;
  }

  &.small {
    height: 34px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 14px;
  }

  &.bold {
    font-weight: 700;
  }

  &.normal {
    font-weight: 400;
  }

  &.block {
    display: flex;
    width: 100%;
  }

  &.rounded {
    border-radius: 100px;

    &.medium {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &:disabled {
    border-color: var(--gray20);
    background-color: var(--gray20);
    color: var(--gray50);
  }
}
