.navigation-bar-wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  background-color: var(--white);

  &.hidden {
    transform: translateY(-100%);
  }
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 6px;
}

.title {
  flex: 1;
  overflow: hidden;
  color: var(--gray100);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-wrap {
  display: flex;
  align-items: center;
  width: 80px;
  height: 40px;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}
